@model Product

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>
@*<h2>@ViewData["ProductName"]</h2>*@
<hr />
@*<p>@ViewData["Id"]</p>
<p>@ViewData["Name"]</p>
<p>@ViewData["Price"]</p>*@

<p>@ViewBag.Id</p>
<p>@ViewBag.Name</p>
<p>@ViewBag.Price</p>

